{
  "parser": ["babel-eslint", "@typescript-eslint/parser"],
  "extends": [
    "airbnb",
    "eslint: recommended",
    "plugin: react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/react"
  ],
  "globals": {
    "window": true,
    "document": true,
    "shallow": true,
    "render": true,
    "mount": true,
    "module": true,
    "graphql": true,
    "console": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js"]
      }
    },
    "import/core-modules": [
      "react",
      "config",
      "react-router",
      "prop-types",
      "react-router-dom"
    ],
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "plugins": ["jest", "react", "@typescript-eslint", "prettier"],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "prettier/prettier": ["warning"]
  }
}
